<div class="background-rhombus">
  <div class="rhombus rhombus-layer-1" style="width: 70px; height: 70px; position: fixed; top: -3%; left: 12%;">
    <svg viewBox="0 0 12 12" class="custom-svg" style="width: 70px;">
      <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
    </svg>
  </div>
  <div class="rhombus rhombus-layer-2" style="width: 30px; height: 30px; position: fixed; top: 10%; left: 20%;">
    <svg viewBox="0 0 12 12" class="custom-svg" style="width: 30px;">
      <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
    </svg>
  </div>
  <div class="rhombus rhombus-group group-1" style="width: 40px; height: 70px; position: fixed; top: 18%; left: 8%;">
      <div class="rhombus rhombus-layer-3" style="height: 15px; padding-left: 12px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-4" style="height: 40px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 40px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-5" style="height: 15px; padding-left: 12px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-layer-6" style="width: 70px; height: 40px; position: fixed; top: 49%; right: 7%;">
    <svg viewBox="0 0 12 12" class="custom-svg" style="width: 70px;">
      <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
    </svg>
  </div>
  <div class="rhombus rhombus-layer-7" style="width: 30px; height: 30px; position: fixed; top: 78%; left: 8%;">
    <svg viewBox="0 0 12 12" class="custom-svg" style="width: 30px;">
      <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
    </svg>
  </div>
  <div class="rhombus rhombus-layer-8" style="width: 30px; height: 30px; position: fixed; top: 78%; right: 16%;">
    <svg viewBox="0 0 12 12" class="custom-svg" style="width: 30px;">
      <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
    </svg>
  </div>
  <div class="rhombus rhombus-group group-2" style="width: 15px; height: 56px; position: fixed; top: 69%; left: 14%;">
      <div class="rhombus rhombus-layer-9" style="height: 20px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-10" style="height: 16px; text-align: center; line-height: 17px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 10px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-11" style="height: 20px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-3" style="width: 40px; height: 57px; position: fixed; top: 55%; left: 20%;">
      <div class="rhombus rhombus-layer-12" style="height: 40px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 40px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-13" style="height: 17px; padding-left: 12px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-4" style="width: 20px; height: 44px; position: fixed; top: 44%; left: 31%;">
      <div class="rhombus rhombus-layer-14" style="height: 24px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 10px; padding-left: 4px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-15" style="height: 20px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 20px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-5" style="width: 18px; height: 39px; position: fixed; top: 11%; right: 22%;">
      <div class="rhombus rhombus-layer-16" style="height: 21px; padding-left: 5px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 8px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-17" style="height: 18px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 18px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-6" style="width: 42px; height: 67px; position: fixed; top: 58%; right: 14%;">
      <div class="rhombus rhombus-layer-18" style="height: 20px; padding-left: 11px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 20px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-19" style="height: 42px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 42px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-7" style="width: 40px; height: 55px; position: fixed; top: 20%; right: 17%;">
      <div class="rhombus rhombus-layer-20" style="height: 40px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 40px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-21" style="height: 15px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px; padding-left: 12px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
  <div class="rhombus rhombus-group group-8" style="width: 40px; height: 55px; position: fixed; top: 63%; right: 24%;">
      <div class="rhombus rhombus-layer-22" style="height: 40px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 40px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
      <div class="rhombus rhombus-layer-23" style="height: 15px;">
        <svg viewBox="0 0 12 12" class="custom-svg" style="width: 15px; padding-left: 12px;">
          <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z"></path>
        </svg>
      </div>
  </div>
</div>
