/*
  アキネーターボタンスタイル.

  created on 2020/05/02
  author Taro Suzuki
*/

.akinator-button {
  padding: 0.25em 0.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  cursor : pointer;
}

.akinator-button:hover {
  background: #636363;
}

.auto-size-button {
  display: inline-block;
}

.custom-size-button {
  width: 100%;
  height: 100%;
}

